body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Valgmeny {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Full height of the viewport */
}

.knapp {
    background-color: #6a94ff; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 30px 64px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: block; /* Display buttons as block elements */
    font-size: 30px; /* Increase font size */
    margin: 10px 0; /* Add some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.hjem-knapp {
  background-color: #6a94ff; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
}

.knapp:hover {
    background-color: #454ba0; /* Darker green on hover */
}

.hjem-knapp:hover {
  background-color: #454ba0; /* Darker green on hover */
}

.logg-skjema {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logg-skjema label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 10px;
}

.logg-skjema input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
}

.skjema-knapp {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    margin-top: 10px;
}

.skjema-knapp:hover {
    background-color: #45a049; /* Darker green on hover */
}